@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
   @* @Scripts.Render("~bundles/PtolemyJS")*@
    <h1>PtolemyJS</h1>
    <p>
    PtolemyJS is an Open Source 2D map engine for video games in JS !
    You can find the <a href="https://github.com/feelic/PtolemyJS">source code on github</a>
    <p>
    <p>
        PtolemyJS is inspired by
    </p>
    <ul>
        <li>Paradox Interactive's Clausewitz engine</li>
        <li>Amit Patel's fantastic work on <a href="http://www-cs-students.stanford.edu/~amitp/game-programming/polygon-map-generation/">procedural map generation with voronoi diagrams</a></li>
    </ul>
    <p>
        <button id="randomMap">Create a Random Map</button> with <input id="cellsCount" value="200" type="number"> cells <button id="exportMap">Export Map</button> <button id="importMap">Import Map</button>
    </p>

    <p>
        <textarea id="mapInput"></textarea>
    </p>
    <div style="width: 800px;height:600px"
         id="canvas">
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>